<!DOCTYPE html>
<html>
<body>

<p>This is the creation page</p>

<form action="/create" method="post">
  Game title: <input type="text" name="name"><br>
  <input type="submit" value="Submit">
</form>
  
</body>
</html>
