<!DOCTYPE HTML>

<html>
<body>

<%g = Game.all.sort!%>
<%g.each do |game| %>
	
<p><%=game.name%></p>

<%end %>

<form action="/delete_games" method="post">
  Game title: <input type="text" name="name"><br />
  <input type="submit" value="Submit">
</form>

</body>
</html>